
  .pick-img-1{
    margin-left: 400px;
  }
  .pick-content{
    padding-top: 30px;
    padding-left: 30px;
    background-color:#f0f0f0 ;
  }
  .pick-content-1{
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 35px;
    margin-right: 30px;
    margin-top: 30px;
    background-color:#ffff ;
    margin-bottom: 30px;
  }